*{
    padding: 0%;
    margin: 0%;
}
 body {
    position: relative;
    scroll-behavior: smooth; 

    h1{
    text-align: center;
    }
  }
header{
    height: 44vh;
    background-image: url("../images/walking-vader.jpg");
    background-size: contain;
    background-position:center;    
    background-position-y: 13% ;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .logo{
    width: 23%;
    position: absolute;
    top: 6.7%;
    left: 36%;
    border-radius: 100%;
    background-color: #fff;
    }

    .header-text{
        position: absolute; 
        top: 3%; 
        color: #bd8852;
    }

}
.medium{
    background-image: url("../images/sunrise-vader.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .time-line{
    display: none !important;
}
}


 #section1 {
    padding-top:50px;
    height: 326px;
    color: #fff; 
    background-color: #1E88E5;

    h1{
    text-align: center;
    padding-top: 14px;
    }
}
#section2 {
      padding-top:50px;
      height:330px;
      color: #0e1118; 
    }
#section3 {
    
    height:540px;
    color: #fff;
    background-color: #ff9800;
    }
#section41 {
    padding-top:10px;
    height:330px;
    color: #0e1118; 
    font-weight: bolder;
   p{
        z-index: 9999;
        opacity: 1;        
   }
}
#section42 {
      padding-top:10px;
      height:330px;
      color: #fff;
      background-color: #009688;
   
    }
#section5 {

      height:670px;
      color: #fff;
      background-color: #222;

      img{
          width: 100%;
          height: 50%;
          position: relative;
          padding-bottom:10px;
      }
   
    }
#section6{
    margin-top: 5%;
    text-align: center;
    padding-top:2px;
    height:650px;
    color: #0e1118; 
    // background-color: #D62839;
    div{
    position: relative;
    left: 40%;
    padding-bottom:20px !important;
    width: 20%;
    }
    }
ul, li { 
    list-style: disc;
    margin: 0; 
    padding: 0; 
}
ul { 
    padding-left: 1em;
 }
 li { 
  padding-left: 1px;
  border: 1px dotted black;
  border-width: 0 0 1px 1px; 
}
li.container { 
    border-bottom: 0px; 
}
li.empty { font-style: italic;
  color: silver;
  border-color: silver;
 border-bottom: 0px; 
  
}


.bottom{
    background-image: url("../images/walkingBack-vader.jpg");
    background-size: cover;
    background-position: left;
    background-position-x: 95% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

/////////////////////////////////////////////////////////////  My Media Queries //////////////////////////////////////////////////////////////////

//  Mobile
@media only screen and (min-width: 768px){
header{
    height: 70vh;
    background-image: url("../images/walking-vader.jpg");
    background-size: cover;
    background-position:center;

    .logo {
    width: 16%;
    top: 9.2% !important;
    left: 41%;
}
    .header-text{
            position: absolute; 
            top: 4%; 
            left: 9%;
            color: #bd8852;
        }
}
#section1 {
    height: 406px;
}
// #section3 {
//     background-color: transparent;
//     color: black;
//     }
// #section41{
//      background-color: #ff9800;
// }
#section5{
    img{
          width: 30%;
          height: 50%;
          position: relative;
          padding-bottom:10px;
          display: flex;
      }
   
}
#section6{
    display: flex;    
    margin-top: 20%;
    text-align: center;
    padding-top:2px;
    height:650px;
    color: #0e1118; 
    background-color: transparent;

    div{
    position: relative;
    left: 0%;
    top: 30%;
    right: 10%;
    padding-bottom:20px !important;
    width: 20%;

    h1{
    position: relative;
    left: 20%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0% !important;
line-height: 0px;
    }
    }
    }
}